@*@{
    Layout = "~/_xuejiLayout.cshtml";
    var classes_id = Request.QueryString["classes_id"];
    var exams_id = Request.QueryString["exams_id"];
    var courses_id = Request.QueryString["courses_id"];
    var formnum = 0;
    var countStudents = 0;

    var db = Database.Open("startersite");
    var getstudentCommand = "SELECT students.id,students.students_number,students.students_name FROM students WHERE students.classses_id = @0";




}
<form method="post">

    <fieldset>
        <legend>添加信息的几个固定值如下：班级classes_id=@classes_id  考试exams_id=@exams_id  课程courses_id=@courses_id</legend>
        <ol>

        @foreach (var row in db.Query(getstudentCommand, classes_id))
        {
            //formnum=formnum+1;
            formnum += 1;
            var id = "sid" + formnum;

            <li>
            <input type="hidden" name="@sid" value="@row.sid"/>
            <input type="text" name="students_number" value="@row.students_number"  disabled/>
                <input type="text" name="students_name" value="@row.students_name"  disabled/>
                <input type="text" name="students_id" value="@row.id" disabled />
                <input type="text" name="scores" value="" />
            </li>
        }
        </ol>
    </fieldset>
</form>*@