@{
    Layout = "~/_xuejiLayout.cshtml";
    var db = Database.Open("startersite");
    var listCommand = "SELECT id,students_name,students_sex,students_age from students order by id";
    
}
<style>
    .buyit{
        width: 600px;
        list-style-type: none;
    }
    .buyit li{
        width:192px;
        display: inline-block;
        text-align: center;
        border-bottom: 1px solid goldenrod;
        line-height: 30px;
    }
</style>
@if(Session["orderid"] == null){
<a href="buylogin" target="_self" style="color:red;">返回登录页，以便重新生成后获取session中的orderid</a><br>
}
    @Session["username"]
<br>
@Session["orderid"]
<form method="post" action="buy.cshtml">
<ul class="buyit">
        <li>学生姓名</li>
        <li>学生性别</li>
        <li>学生年龄暨售价</li>
@foreach (var row in db.Query(listCommand))
    {
        <form method="post" action="buy.cshtml">
        <li>@row.students_name</li>
        <li>@row.students_sex</li>
        <li>@row.students_age&nbsp;<input type="hidden" name="id" value="@row.id" /><input type="hidden" name="price" value="@row.students_age" />
&nbsp;<input type="submit" name="buy" value="购买" /></li>
</form>

    }
</ul>
</form>


