@{
    Layout = "~/_xuejiLayout.cshtml";
    var students_number = "";
    var students_phone = "";
    var getscoresCommand = "SELECT exams.exams_name,exams.exams_type,exams.exams_date,courses.courses_name,scores.scores_value,students.students_number,students.students_name,students.students_phone FROM scores INNER JOIN exams ON scores.exams_id = exams.id INNER JOIN courses ON scores.courses_id = courses.id INNER JOIN students ON scores.students_id = students.students_id where students.students_number=@0 and students.students_phone=@1";
    var db = Database.Open("startersite");

    if (IsPost)
    {
        students_number = Request.Form["students_number"];
        students_phone = Request.Form["students_phone"];

        //db.Query(getscoresCommand,students_number,students_phone);

    }
    else
    {
        Validation.AddFormError("哪儿来的滚回哪去。");
    }
}

@Html.ValidationSummary()

<ol>
    @foreach (var row in db.Query(getscoresCommand, students_number, students_phone))

    {
        <li>
            @row.students_number
            @if (row.scores_value >= 70 & row.scores_value <= 100)
            {
                <span class="label label-success">@row.scores_value</span>
            }
            else if (row.scores_value >= 60 & row.scores_value < 70)
            {
                <span class="label label-warning">@row.scores_value</span>

            }
            else if (row.scores_value >= 0 & row.scores_value < 60)
            {
                <span class="label label-important">@row.scores_value</span>

            }

        </li>
    }
</ol>