@{
    Layout = "~/_xuejiLayout.cshtml";
    Page.title = "班级信息";
    var db = Database.Open("startersite");
    //最简单粗暴的查询班级,需要搭配下面的@grid.GetHtml
    //var listCommand = db.Query("SELECT * FROM classes");
    //var grid = new WebGrid(source: listCommand);

    //尝试使用字段as来定义webgrid的列名称,需要搭配下面的@grid.GetHtml
    //var listCommand = db.Query("SELECT c.id,c.classes_year as 入学年份,s.majors_name as 专业名称,t.teachers_name as 辅导员 FROM classes as c JOIN majors as m ON c.majors_id=majors.id JOIN teachers as t ON c.teachers_id=t.id");
    //var grid = new WebGrid(listCommand);

    //
    var listCommand = "SELECT Count(s.id) AS students_count,c.id AS id,c.classes_year,m.majors_name,t.teachers_name FROM dbo.students AS s INNER JOIN dbo.classes AS c ON s.classes_id = c.id INNER JOIN dbo.majors AS m ON c.majors_id = m.id INNER JOIN dbo.teachers AS t ON c.teachers_id = t.id GROUP BY c.id,c.classes_year,m.majors_name,t.teachers_name";

}
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="~/index.cshtml">控制面板</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">@Page.title</a></li>
</ul>
    @*@grid.GetHtml(
        tableStyle: "table table-striped table-bordered table-hover bootstrap-datatable datatable",
        columns: grid.Columns(
            grid.Column(format: @<a href="~/classes_delete?id=@item.id">删除</a>),
            grid.Column("入学年份"),
            grid.Column("专业名称"),
            grid.Column("辅导员")


            )
    )*@

<table class="table table-striped table-bordered table-hover bootstrap-datatable datatable">
    <thead>
    <tr>
        <th>操作</th>
        <th>入学年份</th>
        <th>专业名称</th>
        <th>班级人数</th>
        <th>辅导员</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var row in db.Query(listCommand))
    {
        <tr>
            <td><a href="classes_delete?classes_id=@row.id">删除</a></td>
            <td>@row.classes_year</td>
            <td><a class="" href="students_list?classes_id=@row.id">@row.majors_name</a></td>
            <td>@row.students_count</td>
            <td>@row.teachers_name</td>

        </tr>
    }
    </tbody>
</table>