@{
    Layout = "~/_xuejiLayout.cshtml";
    var snum = "";
    var sname = "";
    var ssex = "";
    var sage = 0;
    var sphone = "";
    var qq = 0;
    var wx = "";
    var sstatus = 0;
    var cyear = 0;
    var spname = "";
    var cid = 0;

    var sid = "";

    var db = Database.Open("startersite");
    var downlistCommand = "SELECT c.cid,c.cyear,sp.spname FROM classes as c INNER JOIN specialized as sp ON c.spid = sp.spid";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            sid = Request.QueryString["ID"];
            var dbCommand = "SELECT s.sid,c.cid,s.snum,s.sname,c.cyear,sp.spname,s.ssex,s.sage,s.sphone,s.qq,s.wx,s.sstatus FROM students as s INNER JOIN classes as c ON s.cid = c.cid INNER JOIN specialized as sp ON c.spid = sp.spid WHERE s.sid = @0";
            //因为我们只是要取出一条数据库记录，因为指定了ID嘛，所以不再使用query这个方法，而是QuerySingle方法
            var row = db.QuerySingle(dbCommand, sid);

            if (row != null)
            {
                snum = row.snum;
                sname = row.sname;
                ssex = row.ssex;
                sage = row.sage;
                sphone = row.sphone;
                qq = row.qq;
                wx = row.wx;
                sstatus = row.sstatus;
                cyear = row.cyear;
                spname = row.spname;
                cid = row.cid;
            }
            else
            {
                Validation.AddFormError("No user was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No user was selected.");
        }
    }
    //if (IsPost && cid!=0)
    if (IsPost)
    {
        var customValiError = "请返回列表页面重新选择要编辑的学生";
        Validation.RequireField("snum", "学号不可为空" + customValiError);
        Validation.RequireField("sname", "学生姓名不可为空" + customValiError);
        Validation.RequireField("cid", "班级不可为空" + customValiError);
        Validation.RequireField("sid", "无有效学生信息可提交" + customValiError);

        sid = Request.Form["sid"];
        snum = Request.Form["snum"];
        sname = Request.Form["sname"];
        ssex = Request.Form["ssex"];
        sage = Convert.ToInt32(Request.Form["sage"]);
        sphone = Request.Form["sphone"];
        qq = Convert.ToInt32(Request.Form["qq"]);
        wx = Request.Form["wx"];
        sstatus = Convert.ToInt32(Request.Form["sstatus"]);
        cid = Convert.ToInt32(Request.Form["cid"]);

        if (Validation.IsValid())
        {
            var updateCommand = "UPDATE students SET snum=@1,sname=@2,ssex=@3,sage=@4,sphone=@5,qq=@6,wx=@7,sstatus=@8, cid=@9 WHERE sid=@0";
            db.Execute(updateCommand, sid, snum, sname, ssex, sage, sphone, qq, wx, sstatus, cid);

            string logit = "sid="+sid + ",snum=" + snum + ",sname=" + sname + ",ssex=" + ssex + ",sage=" + sage + ",sphone=" + sphone + ",qq=" + qq + ",wx=" + wx + ",sstatus=" + sstatus + ",cid=" + cid;

            var logCommand = "insert into log (who,whichtable,actiontype,withwhat,whendoes)values('1','students','update',@0,getdate())";
            db.Execute(logCommand, logit);
            Response.Redirect("~/students?id="+cid);
        }
    }
}
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="~/index.cshtml">控制面板</a>
        <i class="icon-angle-right"></i>
    </li><li>
        <a href="~/students.cshtml">学生信息</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="#">编辑学生信息</a>
    </li>
</ul>
@Html.ValidationSummary()
<form method="post">
    <fieldset>
        <legend>当前学生信息</legend>

        <p>
            <label for="snum">学号：</label>
            <input type="text" id="snum" name="snum" value="@snum"/>
        </p>
        <p>
            <label for="cid">班级：</label>@cyear@spname (请在右侧选择要更改为的班级)
            <select id="cid" name="cid">
                @if (cid > 0)
                {
                    foreach (var row2 in db.Query(downlistCommand))
                    {
                        <option value="@row2.cid"
                                @if (cid == row2.cid)
                                {
                                    @:selected="selected"
                                }>
                            @row2.cyear@row2.spname</option>
                    }
                }
            </select>
        </p>
        <p>
            <label for="sname">学生姓名：</label>
            <input type="text" id="sname" name="sname" value="@sname"/>
        </p>
        <p>
            <label>性别：</label>
            <label for="ssex1">
                男
            </label><input id="ssex1" name="ssex" type="radio" value="男" @if (ssex == "男") { @: checked="checked"
                                                                                         } />
                &nbsp;&nbsp;&nbsp;&nbsp;
            <label for="ssex2">女</label><input id="ssex2" name="ssex" type="radio" value="女" @if (ssex == "女") { @: checked="checked"
                                                                                         } />
</p>
        <p>
            <label for="sage">年龄：</label>
            <input type="text" id="sage" name="sage" value="@sage"/>
        </p>
        <p>
            <label for="sphone">联系电话：</label>
            <input type="text" id="sphone" name="sphone" value="@sphone"/>
        </p>
        <p>
            <label for="qq">QQ号码：</label>
            <input type="text" id="qq" name="qq" value="@qq"/>
        </p>
        <p>
            <label for="wx">微信号码：</label>
            <input type="text" id="wx" name="wx" value="@wx"/>
        </p>
        <p>
            <label for="sstatus">学籍状态：</label>
            <input type="text" id="sstatus" name="sstatus" value="@sstatus"/>
        </p>


        <input type="hidden" name="sid" value="@sid"/>

        <p>
            <input type="submit" name="buttonSubmit" value="确认修改"/>
        </p>
    </fieldset>
</form>
