@{
    Layout = "~/_xuejiLayout.cshtml";
    Page.Title = "归还书籍成功";
    string id = Request.QueryString["id"];
    string user = Request.Form["user"];

    var db = Database.Open("StarterSite");
    var listCommand = "SELECT lbh.id,lb.name AS name,lbh.borrowuser AS borrowuser,lbh.borrowdate AS borrowdate,lbh.planttoreturn AS planttoreturn,lbh.returndate AS returndate,lbh.returnuser AS returnuser FROM dbo.library_collections AS lc INNER JOIN dbo.library_books AS lb ON lc.library_books_id = lb.id INNER JOIN dbo.library_borrowhistory AS lbh ON lbh.library_collections_id = lc.id WHERE lbh.id=@0";
    var row = db.QuerySingle(listCommand, id);
}
<fieldset>
            <legend>本次归还信息</legend>
        <p>
            <label for="name">借阅时间：</label>
            <label>@row.borrowdate</label>
        </p>
        <p>
            <label for="name">预计归还时间：</label>
            <label>@row.planttoreturn</label>
        </p>
        <p>
            <label for="name">归还实际时间：</label>
            <label>@row.returndate</label>
        </p>
        <p>
            <label for="name">借阅人：</label>
            <label>@row.borrowuser</label>
        </p>
        <p>
            <label for="name">归还人：</label>
            <label>@row.returnuser</label>
        </p>
        <p>
            <label for="name">书籍名称：</label>
            <label>@row.name</label>
        </p>
</fieldset>