@{
    Layout = "~/_xuejiLayout.cshtml";
    Page.Title = "书籍目前借出详情";

    var id = Request.QueryString["ID"];

    var db = Database.Open("startersite");
    var listCommand = "SELECT lc.id AS lcid,lbr.borrowdate,lbr.borrowuser,lbr.planttoreturn FROM library_books AS lb INNER JOIN library_collections AS lc ON lc.library_books_id = lb.id INNER JOIN library_borrowing AS lbr ON lbr.library_collections_id = lc.id WHERE lc.status = 2 and lb.id=@0";
}
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="~/index.cshtml">控制面板</a>
        <i class="icon-angle-right"></i>
        <a href="~/library_list.cshtml">图书借阅</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">@Page.title</a></li>
</ul>

<table class="table table-striped table-bordered table-hover bootstrap-datatable datatable">
    <thead>
        <tr>
            <th>图书编号lc.id</th>
            <th>借阅用户</th>
            <th>借阅时间</th>
            <th>预计归还时间</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var row in db.Query(listCommand, id))
        {
            <tr>
                <td>@row.lcid</td>
                <td>@row.borrowuser</td>
                <td>@row.borrowdate</td>
                <td>@row.planttoreturn</td>
    </tr>
         }
    </tbody>
</table>