@{
    Layout = "~/_xuejiLayout.cshtml";
    var students_number = "";
    var students_name = "";
    var students_sex = "";
    var students_age = 0;
    var students_phone = "";
    var students_qq = 0;
    var students_wx = "";
    var students_status = 0;
    var classes_year = 0;
    var majors_name = "";
    var classes_id = 0;

    var students_id = "";

    var db = Database.Open("startersite");
    var downlistCommand = "SELECT c.id as classes_id,c.classes_year,m.majors_name FROM classes as c INNER JOIN majors as m ON c.majors_id = m.id";

    if (!IsPost)
    {
        if (!Request.QueryString["students_id"].IsEmpty() && Request.QueryString["students_id"].IsInt())
        {
            students_id = Request.QueryString["students_id"];
            var dbCommand = "SELECT s.id,c.id as classes_id,s.students_number,s.students_name,c.classes_year,m.majors_name,s.students_sex,s.students_age,s.students_phone,s.students_qq,s.students_wx,s.students_status FROM students as s INNER JOIN classes as c ON s.classes_id = c.id INNER JOIN majors as m ON c.majors_id = m.id WHERE s.id = @0";
            //因为我们只是要取出一条数据库记录，因为指定了ID嘛，所以不再使用query这个方法，而是QuerySingle方法
            var row = db.QuerySingle(dbCommand, students_id);

            if (row != null)
            {
                students_number = row.students_number;
                students_name = row.students_name;
                students_sex = row.students_sex;
                students_age = row.students_age;
                students_phone = row.students_phone;
                students_qq = row.students_qq;
                students_wx = row.students_wx;
                students_status = row.students_status;
                classes_year = row.classes_year;
                majors_name = row.majors_name;
                classes_id = row.classes_id;
            }
            else
            {
                Validation.AddFormError("No user was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No user was selected.");
        }
    }
    //if (IsPost && classes_id!=0)
    if (IsPost)
    {
        var customValiError = "请返回列表页面重新选择要编辑的学生";
        Validation.RequireField("students_number", "学号不可为空" + customValiError);
        Validation.RequireField("students_name", "学生姓名不可为空" + customValiError);
        Validation.RequireField("classes_id", "班级不可为空" + customValiError);
        Validation.RequireField("students_id", "无有效学生信息可提交" + customValiError);

        students_id = Request.Form["students_id"];
        students_number = Request.Form["students_number"];
        students_name = Request.Form["students_name"];
        students_sex = Request.Form["students_sex"];
        students_age = Convert.ToInt32(Request.Form["students_age"]);
        students_phone = Request.Form["students_phone"];
        students_qq = Convert.ToInt32(Request.Form["students_qq"]);
        students_wx = Request.Form["students_wx"];
        students_status = Convert.ToInt32(Request.Form["students_status"]);
        classes_id = Convert.ToInt32(Request.Form["classes_id"]);

        if (Validation.IsValid())
        {
            var updateCommand = "UPDATE students SET students_number=@1,students_name=@2,students_sex=@3,students_age=@4,students_phone=@5,students_qq=@6,students_wx=@7,students_status=@8, classes_id=@9 WHERE id=@0";
            db.Execute(updateCommand, students_id, students_number, students_name, students_sex, students_age, students_phone, students_qq, students_wx, students_status, classes_id);

            string logit = "id="+students_id + ",students_number=" + students_number + ",students_name=" + students_name + ",students_sex=" + students_sex + ",students_age=" + students_age + ",students_phone=" + students_phone + ",students_qq=" + students_qq + ",students_wx=" + students_wx + ",students_status=" + students_status + ",classes_id=" + classes_id;

            var logCommand = "insert into log (who,whichtable,actiontype,withwhat,whendoes)values('1','students','update',@0,getdate())";
            db.Execute(logCommand, logit);
            Response.Redirect("~/students_list?classes_id="+classes_id);
        }
    }
}
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="~/index.cshtml">控制面板</a>
        <i class="icon-angle-right"></i>
    </li><li>
        <a href="~/students_list.cshtml">学生信息</a>
    </li>
    <li>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="#">编辑学生信息</a>
    </li>
</ul>
@Html.ValidationSummary()
<form method="post">
    <fieldset>
        <legend>当前学生信息</legend>

        <p>
            <label for="students_number">学号：</label>
            <input type="text" id="students_number" name="students_number" value="@students_number"/>
        </p>
        <p>
            <label for="classes_id">班级：</label>@classes_year@majors_name (请在右侧选择要更改为的班级)
            <select id="classes_id" name="classes_id">
                @if (classes_id > 0)
                {
                    foreach (var row2 in db.Query(downlistCommand))
                    {
                        <option value="@row2.classes_id"
                                @if (classes_id == row2.classes_id)
                                {
                                    @:selected="selected"
                                }>
                            @row2.classes_year@row2.majors_name</option>
                    }
                }
            </select>
        </p>
        <p>
            <label for="students_name">学生姓名：</label>
            <input type="text" id="students_name" name="students_name" value="@students_name"/>
        </p>
        <p>
            <label>性别：</label>
            <label for="students_sex1">
                男
            </label><input id="students_sex1" name="students_sex" type="radio" value="男" @if (students_sex == "男") { @: checked="checked"
                                                                                         } />
                &nbsp;&nbsp;&nbsp;&nbsp;
            <label for="students_sex2">女</label><input id="students_sex2" name="students_sex" type="radio" value="女" @if (students_sex == "女") { @: checked="checked"
                                                                                         } />
</p>
        <p>
            <label for="students_age">年龄：</label>
            <input type="text" id="students_age" name="students_age" value="@students_age"/>
        </p>
        <p>
            <label for="students_phone">联系电话：</label>
            <input type="text" id="students_phone" name="students_phone" value="@students_phone"/>
        </p>
        <p>
            <label for="students_qq">QQ号码：</label>
            <input type="text" id="students_qq" name="students_qq" value="@students_qq"/>
        </p>
        <p>
            <label for="students_wx">微信号码：</label>
            <input type="text" id="students_wx" name="students_wx" value="@students_wx"/>
        </p>
        <p>
            <label for="students_status">学籍状态：</label>
            <input type="text" id="students_status" name="students_status" value="@students_status"/>
        </p>


        <input type="hidden" name="students_id" value="@students_id"/>

        <p>
            <input type="submit" name="buttonSubmit" value="确认修改"/>
        </p>
    </fieldset>
</form>
