@{
    Layout = "~/_xuejiLayout.cshtml";
    var db = Database.Open("startersite");
    var listCommand = "SELECT s.sid,s.snum,s.sname,c.classes_year,m.majors_name,s.ssex,s.sage,s.sphone,s.qq,s.wx,s.sstatus FROM students as m INNER JOIN classes as c ON s.cid = c.id INNER JOIN majors as m ON c.majors_id = majors.id";
    //var listCommand = db.Query("select * from students");
    //var grid = new WebGrid(listCommand);
}


<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="~/index.cshtml">控制面板</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">@Page.title</a></li>
</ul>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2>
                <i class="halflings-icon user"></i><span class="break"></span>学生列表
            </h2>
            <div class="box-icon">
                <a href="#" class="btn-setting">
                    <i class="halflings-icon wrench"></i>
                </a>
                <a href="#" class="btn-minimize">
                    <i class="halflings-icon chevron-up"></i>
                </a>
                <a href="#" class="btn-close">
                    <i class="halflings-icon remove"></i>
                </a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered table-hover bootstrap-datatable datatable">
                <thead>
                <tr class="">
                    <th>操作</th>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>班级</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>电话</th>
                    <th>QQ</th>
                    <th>微信</th>
                    <th>学籍状态</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var row in db.Query(listCommand))
                {
                    <tr>
                        <td class="center">
                            <a href="delstudents?id=@row.sid">删除</a>
                        </td>
                        <td class="center">@row.snum</td>
                        <td class="center">
                            <a href="editstudents?id=@row.sid">@row.sname</a>
                        </td>
                        <td class="center">@row.classes_year@row.majors_name</td>
                        <td class="center">@row.ssex</td>
                        <td class="center">@row.sage</td>
                        <td class="center">@row.sphone</td>
                        <td class="center">@row.qq</td>
                        <td class="center">@row.wx</td>
                        <td class="center">

                            @if (row.sstatus == 1)
                            {
                                <label class="label label-success">在读</label>
                            }
                            @if (row.sstatus == 2)
                            {
                                <label class="label label-defaullt">休学</label>
                            }
                            @if (row.sstatus == 3)
                            {
                                <label class="label label-Inverse">退学</label>
                            }

                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @*@grid.GetHtml(


        columns: grid.Columns(
            grid.Column(format: @<a href="~/delstudents?id=@item.sid">删除</a>),
            //grid.Column("sid"),
            grid.Column("snum"),
            grid.Column("sname"),
            grid.Column("classes_year"),
            grid.Column("majors_name"),
            grid.Column("ssex"),
            grid.Column("sage"),
            grid.Column("sphone"),
            grid.Column("qq"),
            grid.Column("wx"),
            grid.Column("sstatus"),
            grid.Column("cid")

            )
        )*@

        </div>
    </div>
</div>